
body{
  background-image: url(./assets/father.webp);
  background-size: cover;
  background-position: center;

}



blockquote{
  border-left:none
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
  
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 15px;
  background-color: #D6ED17FF;
  margin-top: 25px;
  color:#606060FF;
  width: 1000px;
  box-shadow: 2px 2px 2px 2px #F1F4FFFF;
  
}

.quotation-mark{
  
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color:#606060FF;
  font-family: "Times New Roman", Georgia, Serif;
  
}

.quote-text{
  
  font-size: 19px;
  margin-top: -65px;
}